schemas/eClassLesson-0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--

		Copyright (C) 2003-2009  Greek Universities Network - GUnet

		Open eClass is free software: you can redistribute it and/or modify it
		under the terms of the GNU General Public License as published
		by the Free Software Foundation, version 2 of the License. 
		BetaCMS is distributed in the hope that it will be useful, but WITHOUT 
		ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
		FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public 
		License for more details.

		You should have received a copy of the GNU Lesser General Public
		License along with Open eClass. If not, see
		<http://www.gnu.org/licenses/>. 
		
	-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.openeclass.org/schema/betacms/web/eClassLesson"
	xmlns:tns="http://www.openeclass.org/schema/betacms/web/eClassLesson"
	xmlns:bccmsmodel="http://www.betaconceptframework.org/schema/betacms/model"
	xmlns:workflowType="http://www.betaconceptframework.org/schema/betacms/admin/workflowType"
	xmlns:webPublicationType="http://www.betaconceptframework.org/schema/betacms/web/webPublicationType"
	xmlns:statisticType="http://www.betaconceptframework.org/schema/betacms/web/statisticType"
	version="1.0">


	<xs:import
		namespace="http://www.betaconceptframework.org/schema/betacms/model"
		schemaLocation="betacms-model-types-1.2.xsd" />
		
	<xs:import
		namespace="http://www.betaconceptframework.org/schema/betacms/admin/workflowType"
		schemaLocation="workflowType-1.0.xsd" />
	
	<xs:import
		namespace="http://www.betaconceptframework.org/schema/betacms/web/webPublicationType"
		schemaLocation="webPublicationType-1.0.xsd" />
	
	<xs:import
		namespace="http://www.betaconceptframework.org/schema/betacms/web/statisticType"
		schemaLocation="statisticType-1.0.xsd" />
	
	
	
	<xs:complexType name="eClassLessonType"
		bccmsmodel:description="This complex type represents an eClass Lesson to add to various resources 
			(i.e. to content object definitions or dynamically to content object instances).">
		<xs:annotation>
			<xs:documentation xml:lang="en">eClass Lesson</xs:documentation>
			<xs:documentation xml:lang="el">
				Ψηφιακό Μάθημα eClass
			</xs:documentation>
		</xs:annotation>

		<xs:complexContent>
			<xs:extension base="bccmsmodel:complexCmsPropertyType">
				<xs:sequence>

					<xs:element name="title" 
						minOccurs="1"
						maxOccurs="1"
						type="xs:string"
						bccmsmodel:description="The title of the eClass Lesson">
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Title
							</xs:documentation>
							<xs:documentation xml:lang="el">
								Τίτλος
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="department" 
						minOccurs="1"
						maxOccurs="1"
						type="xs:string"
						bccmsmodel:description="The department of the eClass Lesson">
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Department
							</xs:documentation>
							<xs:documentation xml:lang="el">
								Σχολή/Τμήμα
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="instructors" 
						minOccurs="0"
						maxOccurs="unbounded"
						type="xs:string"
						bccmsmodel:description="The instructors of the eClass Lesson">
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Instructors
							</xs:documentation>
							<xs:documentation xml:lang="el">
								Εκπαιδευτές
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="type" 
						minOccurs="1" 
						maxOccurs="1"
						type="xs:string"
						bccmsmodel:description="The type of the eClass Lesson">
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Type
							</xs:documentation>
							<xs:documentation xml:lang="el">
								Τύπος
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="language" 
						minOccurs="1" 
						maxOccurs="1"
						type="xs:string"
						bccmsmodel:description="The language of the eClass Lesson">
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Language
							</xs:documentation>
							<xs:documentation xml:lang="el">
								Γλώσσα
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="description" 
						minOccurs="0" 
						maxOccurs="1"
						type="xs:string"
						bccmsmodel:stringFormat="RichText"
						bccmsmodel:description="The description of the eClass Lesson">
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Short Description
							</xs:documentation>
							<xs:documentation xml:lang="el">
								Σύντομη περιγραφή του μαθήματος
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="keywords" 
						minOccurs="0"
						maxOccurs="unbounded"
						type="xs:string"
						bccmsmodel:description="The keywords of the eClass Lesson">
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Keywords
							</xs:documentation>
							<xs:documentation xml:lang="el">
								Λέξεις κλειδιά
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="complementary" 
						minOccurs="0"
						maxOccurs="1"
						type="xs:string"
						bccmsmodel:description="The complementary info of the eClass Lesson">
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Complementary Info
							</xs:documentation>
							<xs:documentation xml:lang="el">
								Συμπληρωματικά στοιχεία
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="scormfile" 
						minOccurs="0" 
						maxOccurs="unbounded"
						type="bccmsmodel:binaryChannelType"
						bccmsmodel:description="This property holds a scorm zip file relative to the content">
						<xs:annotation>
							<xs:documentation xml:lang="en">
									Scorm File
							</xs:documentation>
							<xs:documentation xml:lang="el">
								Αρχείο Scorm
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="arrayOfEClassLessonTypeType"
		bccmsmodel:description="This complex type represents a list of eClass Lessons to add to various resources.">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				eClass Lessons
			</xs:documentation>
			<xs:documentation xml:lang="el">
				Λίστα Ψηφιακών Μαθημάτων eClass
			</xs:documentation>
		</xs:annotation>

		<xs:complexContent>
			<xs:extension base="bccmsmodel:complexCmsPropertyType">
				<xs:sequence>
					<xs:element name="eClassLesson" 
						minOccurs="0" 
						maxOccurs="unbounded"
						type="tns:eClassLessonType"
						bccmsmodel:description="An eClass Lesson"
						bccmsmodel:labelElementPath="title"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:element name="eClassLessonObject"
		bccmsmodel:description="This element models a content object that holds an eClass Lesson">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				eClass Lesson
			</xs:documentation>
			<xs:documentation xml:lang="el">
				 Ψηφιακό Μάθημα eClass
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="bccmsmodel:contentObjectType">
					<xs:sequence>

						<xs:element name="title" 
							minOccurs="1"
							maxOccurs="1"
							type="xs:string"
							bccmsmodel:description="The title of the eClass Lesson">
							<xs:annotation>
								<xs:documentation xml:lang="en">
									Title
								</xs:documentation>
								<xs:documentation xml:lang="el">
									Τίτλος
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="department" 
							minOccurs="1"
							maxOccurs="1"
							type="xs:string"
							bccmsmodel:description="The department of the eClass Lesson">
							<xs:annotation>
								<xs:documentation xml:lang="en">
									Department
								</xs:documentation>
								<xs:documentation xml:lang="el">
									Σχολή/Τμήμα
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="instructors" 
							minOccurs="0"
							maxOccurs="unbounded"
							type="xs:string"
							bccmsmodel:description="The instructors of the eClass Lesson">
							<xs:annotation>
								<xs:documentation xml:lang="en">
									Instructors
								</xs:documentation>
								<xs:documentation xml:lang="el">
									Εκπαιδευτές
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="type" 
							minOccurs="1" 
							maxOccurs="1"
							type="xs:string"
							bccmsmodel:description="The type of the eClass Lesson">
							<xs:annotation>
								<xs:documentation xml:lang="en">
									Type
								</xs:documentation>
								<xs:documentation xml:lang="el">
									Τύπος
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="language" 
							minOccurs="1" 
							maxOccurs="1"
							type="xs:string"
							bccmsmodel:description="The language of the eClass Lesson">
							<xs:annotation>
								<xs:documentation xml:lang="en">
									Language
								</xs:documentation>
								<xs:documentation xml:lang="el">
									Γλώσσα
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="description" 
							minOccurs="0" 
							maxOccurs="1"
							type="xs:string"
							bccmsmodel:stringFormat="RichText"
							bccmsmodel:description="The description of the eClass Lesson">
							<xs:annotation>
								<xs:documentation xml:lang="en">
									Short Description
								</xs:documentation>
								<xs:documentation xml:lang="el">
									Σύντομη περιγραφή του μαθήματος
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="keywords" 
							minOccurs="0"
							maxOccurs="unbounded"
							type="xs:string"
							bccmsmodel:description="The keywords of the eClass Lesson">
							<xs:annotation>
								<xs:documentation xml:lang="en">
									Keywords
								</xs:documentation>
								<xs:documentation xml:lang="el">
									Λέξεις κλειδιά
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="complementary" 
							minOccurs="0"
							maxOccurs="1"
							type="xs:string"
							bccmsmodel:description="The complementary info of the eClass Lesson">
							<xs:annotation>
								<xs:documentation xml:lang="en">
									Complementary Info
								</xs:documentation>
								<xs:documentation xml:lang="el">
									Συμπληρωματικά στοιχεία
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="scormfile" 
							minOccurs="0" 
							maxOccurs="unbounded"
							type="bccmsmodel:binaryChannelType"
							bccmsmodel:description="This property holds a scorm zip file relative to the content">
							<xs:annotation>
								<xs:documentation xml:lang="en">
									Scorm File
								</xs:documentation>
								<xs:documentation xml:lang="el">
									Αρχείο Scorm
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					
						<xs:element name="webPublication" minOccurs="0" maxOccurs="1" type="webPublicationType:webPublicationType"/>
			 			<xs:element name="workflow" minOccurs="0" maxOccurs="1" type="workflowType:workflowType"/>
						<xs:element name="statistic"  minOccurs="0" maxOccurs="1" type="statisticType:statisticType" />
						
						<!-- THIS ELEMENT SHOULD BE ALWAYS DEFINED AS THE LAST ELEMENT OF A CONTENT OBJECT TYPE DEFINITION IN ORDER TO ALLOW DYNAMIC PROPERTIES (ASPECTS) TO
						BE ADDED TO CONTENT OBJECT INSTANCES  -->
						<xs:any minOccurs="0" maxOccurs="unbounded" processContents="strict"/>
					
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="arrayOfEClassLessonObjectType"
		bccmsmodel:description="This complex type represents a list of REFERENCES to eClass Lesson objects (i.e. eClass Lesson content objects). This list can be attached to other content objects">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				List of References to eClass Lesson Objects 
			</xs:documentation>
			<xs:documentation xml:lang="el">
				Λίστα Αναφορών σε Ψηφιακά Μαθήματα eClass
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bccmsmodel:complexCmsPropertyType">
				<xs:sequence>
					<xs:element name="eClassLessonObjectReference" 
						minOccurs="0" 
						maxOccurs="unbounded"
						type="bccmsmodel:contentObjectType"
						bccmsmodel:acceptedContentTypes="eClassLessonObject"
						bccmsmodel:description="eClass Lesson Object Instance referenced by another content object instance"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="arrayOfEClassLessonTypeObject"
		bccmsmodel:description="This element models a content object that holds a list of eClass Lessons">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				List of eClass Lessons
			</xs:documentation>
			<xs:documentation xml:lang="el">
				Λίστα Ψηφιακών Μαθημάτων eClass
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="bccmsmodel:contentObjectType">
					<xs:sequence>
						<xs:element name="eClassLesson" 
							minOccurs="0"
							maxOccurs="unbounded" 
							type="tns:eClassLessonType"
							bccmsmodel:labelElementPath="title" />
							
						<xs:element name="webPublication" minOccurs="0" maxOccurs="1" type="webPublicationType:webPublicationType"/>
			 			<xs:element name="workflow" minOccurs="0" maxOccurs="1" type="workflowType:workflowType"/>
						<xs:element name="statistic"  minOccurs="0" maxOccurs="1" type="statisticType:statisticType" />
						
						<!-- THIS ELEMENT SHOULD BE ALWAYS DEFINED AS THE LAST ELEMENT OF A CONTENT OBJECT TYPE DEFINITION IN ORDER TO ALLOW DYNAMIC PROPERTIES (ASPECTS) TO
						BE ADDED TO CONTENT OBJECT INSTANCES  -->
						<xs:any minOccurs="0" maxOccurs="unbounded" processContents="strict"/>
						
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
				
</xs:schema>